.project-buttons {
  position: absolute;
  right: 0;
  bottom: -16px;
  display: flex;
  z-index: 100;
}
.tech-button {
  width: 64px;
  height: 64px;
  margin-right: 8px;
  background: $off-black;
  opacity: 0;
  transform: translateY(16px);
  transition: all 0.4s cubic-bezier(0.58, 0.06, 0.25, 1);
  &:nth-child(2n) {
    transition-delay: 0.05s;
  }
  &:nth-child(3n) {
    transition-delay: 0.1s;
  }
  &:nth-child(4n) {
    transition-delay: 0.15s;
  }
  &:nth-child(5n) {
    transition-delay: 0.2s;
  }
}
