.project-buttons {
  position: absolute;
  width: 100%;
  right: 0;
  bottom: -16px;
  display: flex;
  z-index: 100;
}
.tech-button {
  color: $off-white;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 72px;
  margin-right: 8px;
  padding: 0 8px;
  background: $off-black;
  opacity: 0;
  transform: translateY(16px);
  transition: all 0.4s cubic-bezier(0.58, 0.06, 0.25, 1);
  img {
    height: 48px;
  }
  span {
    font-family: 'Open Sans', sans-serif;
    min-width: 48px;
    text-align: center;
  }
  &:nth-child(2n) {
    transition-delay: 0.05s;
  }
  &:nth-child(3n) {
    transition-delay: 0.1s;
  }
  &:nth-child(4n) {
    transition-delay: 0.15s;
  }
  &:nth-child(5n) {
    transition-delay: 0.2s;
  }
}
.button-github {
  margin-left: 8px;
  margin-right: auto;
}

.button-javascript {
  color: $off-black;
  background: #f8b41c;
}
