#header {
  position: relative;
  width: 100%;
  display: flex;
  position: absolute;
  height: 64px;
  width: 100%;
  top: 0;
  left: 0;
  justify-content: center;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

nav {
  display: flex;
  width: 82%;
  max-width: 1280px;
  align-self: center;
  justify-content: flex-end;
  z-index: 100;
  li {
    margin-left: 8px;
    list-style: none;
    border-bottom: 4px solid purple;
    transition: all 0.2s ease-out;
    a {
      color: $off-black;
      text-decoration: none;
    }
    &:hover {
      cursor: pointer;
      border-bottom: 4px solid $off-white;
    }
  }
}
