#header {
  display: flex;
  position: absolute;
  height: 64px;
  width: 100%;
  top: 0;
  left: 0;
  justify-content: flex-end;
}

nav {
  display: flex;
  margin-right: 8px;
  align-self: flex-end;
  li {
    margin-left: 8px;
    list-style: none;
    border-bottom: 4px solid purple;
  }
}
