@import 'reset';
@import 'variables/color';
@import 'typography';
@import 'projects';
@import 'buttons';
@import 'about';
@import 'footer';

// General / Global

body {
  background: $off-white;
}

#container {
  position: relative;
}

.view {
  position: relative;
  height: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 10vh;
  &:last-child {
    padding-bottom: 0;
  }
}

@media (min-width: 960px) {
  #container {
    margin: auto;
    width: 86%;
    max-width: 1440px;
  }
}
