#projects-view {
  padding-top: 0;
  & hr {
    margin-top: 2rem;
  }
  & h3 {
    display: none;
  }
}

#projects {
  color: $off-white;
  margin-top: 1rem;
}

#project-calary-man {
  background: #b71c1c;
  .tech-button {
    border-bottom: 8px solid #b71c1c;
  }
}

#project-go {
  background: #263238;
  .tech-button {
    border-bottom: 8px solid #263238;
  }
}

#project-tascii {
  background: hotpink;
  .tech-button {
    border-bottom: 8px solid hotpink;
  }
}

#project-portfolio {
  background: #0097a7;
  .tech-button {
    border-bottom: 8px solid #0097a7;
  }
}

#projects {
  display: flex;
  width: 100%;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
}

.project-wrapper.project-small,
.project-wrapper.project-medium {
  position: relative;
  width: 100%;
  padding-top: 160px;
}
.project-content-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow-y: hidden;
}
.project-text {
  position: relative;
  color: $off-white;
  text-decoration: none;
  display: block;
  height: 200%;
  width: 100%;
  transition: transform 0.4s cubic-bezier(0.58, 0.06, 0.25, 1);
}
.project-title,
.project-description {
  width: 100%;
  height: 50%;
  display: flex;
  padding: 0 0.5rem;
  padding-bottom: 3rem;
  justify-content: flex-start;
  align-items: center;
}
.project-description {
  text-decoration: underline;
}
@media (min-width: 600px) {
  #projects {
    display: flex;
    width: 100%;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .project-wrapper.project-small,
  .project-wrapper.project-medium {
    position: relative;
    width: 100%;
    padding-top: 400px;
  }
  .project-content-wrapper {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow-y: hidden;
  }
  .project-text {
    position: relative;
    height: 200%;
    width: 100%;
    transition: transform 0.4s cubic-bezier(0.58, 0.06, 0.25, 1);
  }
  .project-title,
  .project-description {
    width: 100%;
    height: 50%;
    display: flex;
    padding-bottom: 0;
    justify-content: center;
    align-items: center;
  }
  .project-description {
    text-decoration: underline;
    padding-bottom: 1rem;
  }
}

@media (min-width: 600px) {
  #projects-view {
    padding-top: 1.5rem;
    & h3 {
      display: block;
      text-align: center;
    }
  }
}

@media (min-width: 960px) {
  #projects-view {
    & h3 {
      text-align: left;
    }
  }
  #projects {
    flex-direction: row;
  }
  .project-wrapper {
    margin-bottom: 1%;
  }
  .project-wrapper.project-small {
    position: relative;
    width: 43%;
    padding-top: 34%;
  }
  .project-wrapper.project-medium {
    position: relative;
    width: 56%;
    padding-top: 34%;
  }
  .project-description {
    padding: 0;
  }
}

@media (min-width: 1280px) {
  .project-wrapper {
    margin-bottom: 3%;
  }
  .project-wrapper.project-small {
    position: relative;
    width: 44%;
    padding-top: 28%;
  }
  .project-wrapper.project-medium {
    position: relative;
    width: 54%;
    padding-top: 28%;
  }
}
